<form class="form-user-incomings" action="#" method="get">

  <div class="row">
    <p>&nbsp;</p>
    <div class="form-group">
      <label for="select-house">{{ _('Valor catastral de la vivienda') }}</label>
      <div class="input-group">
        <input id="select-house" type="text" class="form-control" placeholder="{{ _('Introduce el valor catastral de la vivienda') }}">
        <div class="input-group-addon">€</div>
      </div>
    </div>
    <div class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-house-bonus">{{ _('Bonificación') }}</label>
      <select id="select-house-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Instalación de sistemas de aprovechamiento de la energía del sol (3 primeros años)') }}</option>
        <option value="2" type="text">{{ _('Familia numerosa o monoparental') }}</option>
        <option value="3" type="text">{{ _('Familia numerosa o monoparental, con uno o más miembros con discapacidad') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-vehicle">{{ _('Vehículo') }}</label>
      <select id="select-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="2" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche mediano (entre 12 y 16 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche grande (entre 16 y 20 caballos fiscales)') }}</option>
        <option value="5" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
        <option value="6" type="text">{{ _('Ciclomotores o motocicletas hasta 125 cc') }}</option>
        <option value="7" type="text">{{ _('Motocicletas de 125 cc hasta 250 cc') }}</option>
        <option value="8" type="text">{{ _('Motocicletas de 250 cc hasta 500 cc') }}</option>
        <option value="9" type="text">{{ _('Motocicletas de 500 cc hasta 1000 cc') }}</option>
        <option value="10" type="text">{{ _('Motocicletas de más de 1000 cc') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-vehicle-bonus">{{ _('Bonificación') }}</label>
      <select id="select-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Exención por vehículos matriculados a nombre de personas discapacitadas') }}</option>
        <option value="2" type="text">{{ _('Bonificación por vehículos histórico o con una antigüedad mínima de 25 años') }}</option>
        <option value="3" type="text">{{ _('Bonificación por vehículos con menor impacto ambiental') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
      <select id="select-extra-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="2" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche mediano (entre 12 y 16 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche grande (entre 16 y 20 caballos fiscales)') }}</option>
        <option value="5" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
        <option value="6" type="text">{{ _('Ciclomotores o motocicletas hasta 125 cc') }}</option>
        <option value="7" type="text">{{ _('Motocicletas de 125 cc hasta 250 cc') }}</option>
        <option value="8" type="text">{{ _('Motocicletas de 250 cc hasta 500 cc') }}</option>
        <option value="9" type="text">{{ _('Motocicletas de 500 cc hasta 1000 cc') }}</option>
        <option value="10" type="text">{{ _('Motocicletas de más de 1000 cc') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-extra-vehicle-bonus">{{ _('Bonificación') }}</label>
      <select id="select-extra-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Exención por vehículos matriculados a nombre de personas discapacitadas') }}</option>
        <option value="2" type="text">{{ _('Bonificación por vehículos histórico o con una antigüedad mínima de 25 años') }}</option>
        <option value="3" type="text">{{ _('Bonificación por vehículos con menor impacto ambiental') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-garbage-members">{{ _('Unidad familiar') }}</label>
      <select id="select-garbage-members" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Un residente o ninguno') }}</option>
        <option value="1" type="text">{{ _('Dos residentes') }}</option>
        <option value="2" type="text">{{ _('Tres residentes') }}</option>
        <option value="3" type="text">{{ _('Cuatro residentes') }}</option>
        <option value="4" type="text">{{ _('Cinco residentes') }}</option>
        <option value="5" type="text">{{ _('Seis residentes') }}</option>
        <option value="6" type="text">{{ _('Más de seis residentes') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa de basuras') }}: <span id="select-garbage-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-garbage-area">{{ _('Superficie de la vivienda') }}</label>
      <select id="select-garbage-area" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Menos de 90 ㎡') }}</option>
        <option value="1" type="text">{{ _('Entre 90 ㎡ y 120 ㎡') }}</option>
        <option value="2" type="text">{{ _('Entre 120 ㎡ y 180 ㎡') }}</option>
        <option value="3" type="text">{{ _('Entre 180 ㎡ y 240 ㎡') }}</option>
        <option value="4" type="text">{{ _('Más de 240 ㎡') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
      <select id="select-parking" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No') }}</option>
        <option value="1" type="text">{{ _('Sí, de menos de 3 metros') }}</option>
        <option value="2" type="text">{{ _('Sí, de más de 3 metros') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></div>
  </div>

</form>

<p id="tax-amount">{{ _('Contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Aragón')|safe }}.</p>
